.tsm{
    margin:0px;
    padding: 0px;
    width: 400px;
    height: 450px;
    display: flex;
    flex-flow: column;
    border: 5px black solid;
    align-items: center;
    
}
.mydiv{
    width: 380px;
    height: 300px;
    align-content: center;
    text-align: center;
}
button{
    width: 70px;
    height: 30px;
    margin: 16px;
}

p{
    height: 50px;
    width: 350px;
    border: 5px black solid;
    text-align: center;
    margin: 8px;
    padding: 5px;
}
